# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.venv/
venv/


.venv2/
venv2/

# Git
.git/

# Env / secrets
.env

# Node
node_modules/

# IDE
.idea/
.vscode/



# Tests / cache
tests/
.cache/
.pytest_cache/
