# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
.venv/
venv/


.venv2/
venv2/

tracking/saved_models/*.pth
.tracking/saved_models/*

ml_service/dinov2-base/*
.ml_service/dinov2-base/*
cloudflared/*
gcloud/*

# Git
.git/

# Env / secrets
.env

# Node
node_modules/

# IDE
.idea/
.vscode/



# Tests / cache
tests/
.cache/
.pytest_cache/
